---
- name: Install the latest version of python-pip
  yum:
    name: python-pip
    state: latest
  become: yes
  tags: [pip, install]

- name: Install latest version
  pip:
    name: pip
    state: latest
    extra_args: --upgrade
  become: yes
  tags: [pip, install]

- name: Check installed version
  shell: /usr/bin/test "$(pip --version | awk '{print $2}' 2> /dev/null)" = {{ pip_version }}
  ignore_errors: yes
  changed_when: false
  register: pip_wanted_version_installed
  failed_when: pip_wanted_version_installed.rc > 0
  tags: [pip, check]